<br><div class="container">
<div class="row">
<div class="col l1">
   <% @posts.each do |post| %><br><br>
<div class="card">
	<div class="card-header">
    <%= image_tag(post.account.image, class:'dash-img') unless post.account.blank? %>
   <%= link_to post.account.username, show_path(post.account.username), class:'link-name' unless post.account.blank? %>
   <i class="fas fa-ellipsis-h float-right"></i>
  </div>
 <%= image_tag(post.image, :class => 'img-tag') if post.image.attached? %>
  <div class="card-body">
    <h5 class="card-title"><%= post.title %></h5>
    <p class="card-text"><%= post.description %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
<% end %>
 </div> 
<div class="col ti">
	<div class="account-sum">
		<strong><p><%= current_account.username %></p></strong>
		<p><%= current_account.full_name %></p>
	</div>
	<div class="follower-suggestion">
		<div class="card di">
  <div class="card-header s">
    Suggestions For You
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
</div>
	</div>
</div>
</div>
</div>


