<br><div class="container">
<div class="row">
<div class="col l1">
   <% @posts.each do |post| %><br><br>
<div class="card">
	<div class="card-header">
    <%= image_tag(post.account.image, class:'dash-img') unless post.account.blank? %>
   <%= link_to post.account.username, show_path(post.account.username), class:'link-name' unless post.account.blank? %>
   <i class="fas fa-ellipsis-h float-right"></i>
  </div>
 <%= image_tag(post.image, :class => 'img-tag') if post.image.attached? %>
  <div class="card-body">
    <h5 class="card-title">
      <% like = Like.find_by(post: post, account: current_account) %>
     <% if like %>
      <%= link_to post_like_path(id: like.id, post_id: post.id), method: :delete do %>

      <i class="far fa-heart srce fa-lg"></i>
      <% end %>
      <% else %>
            <%= link_to post_likes_path(post.id), method: :post do %>
      <i class="far fa-heart srce fa-lg"></i>
        <% end %>
        <% end %>
      
     <i class="far fa-comment fa-lg"></i>
      <i class="fas fa-location-arrow strela fa-lg"></i>
      <i class="far fa-bookmark float-right fa-lg"></i>
    </h5>
     <p class="card-text d-inline">
      <strong><%= post.total_likes_count %> likes</strong></p><br>
  <strong><%= link_to post.account.username, show_path(post.account.username), class:'text-dark' %></strong>
  <p class="card-text d-inline mx-2"> <%= post.description %></p>
  <p class="text-muted"><%= time_ago_in_words post.created_at %> ago</p>
  </div>
  
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
<% end %>
 </div> 
<div class="col ti">
	<div class="account-sum">
    <%= image_tag(current_account.image, class:'img-sum') unless current_account.image.blank? %>
		<p class='p-sum'><strong><%= current_account.username %></strong><br>
	    <%= current_account.full_name %></p>
	</div><br>
	<div class="follower-suggestion">
		<div class="card di">
  <div class="card-header s">
    <p class="float-right">See All</p>
    <p class="text-muted">Suggestions For You</p>
  </div>
  <div class="card-body">
   <%= render "accounts/follower-suggestions" %>
 </div>
</div>
	</div>
</div>
</div>
</div>


