<div class="container ac-show">
	<div class="row">
		<div class = 'col-4'>
			 <%= image_tag(@account.image, class:'tool') if @account.image.attached? %>
		</div>
			<div class="col-8">
	<h1><%= @account.full_name %><%= link_to 'Edit', edit_account_registration_path, class:'btn' %><i class="fas fa-cog fa-spin fa-sm"></i></h1>
		<div class="profile-stats"><strong><%= @account.posts.count %></strong> posts</div> &nbsp;&nbsp;
		<div class="profile-stats"><strong><%= @account.total_followers %></strong> followers</div>&nbsp;&nbsp;
		<div class="profile-stats"><strong><%= @account.total_following %></strong> following</div><br>
		<strong><p><%= @account.full_name %></p></strong>
		<p><%= @account.description %></p>
		<p><%= link_to @account.website if @account.website.present? %></p>
			</div>
		</div>
	</div>


<%= link_to 'Dashboard', dashboard_path, class:'btn btn-secondary' %>
<%= link_to 'Log Out', destroy_account_session_path, method: :delete, class:'btn btn-danger' %>