<div class="container ac-show">
	<div class="row">
		<div class = 'col-4'>
			 <%= image_tag(@account.image, class:'tool') if @account.image.attached? %>
		</div>
			<div class="col-8">
	<h1><%= @account.full_name %><%= link_to 'Edit', edit_account_registration_path, class:'btn' if can_edit_profile?(@account.id) %>&nbsp;<i class="fas fa-cog fa-spin fa-sm"></i></h1>
		<div class="profile-stats"><strong><%= @account.posts.count %></strong> posts</div> &nbsp;&nbsp;
		<div class="profile-stats"><strong><%= @account.total_followers %></strong> followers</div>&nbsp;&nbsp;
		<div class="profile-stats"><strong><%= @account.total_following %></strong> following</div><br><br>
		<div class="user-info">
		<strong><%= @account.full_name %></strong><br>
		<%= @account.description %>
	</div><br>
		<a href="@account.website"><%= link_to @account.website if @account.website.present? %></a>
			
		</div>
		<div class="row profile-post">
			
				<% @posts.each do |post| %>
					<div class="col-4"><br>
						<%= image_tag(post.image, class:'profile-img') if post.image.attached? %>
					</div>
				<% end %>
			
		</div>
	</div>
</div>
<br>

<%= link_to 'Create New Post', new_post_path, class:'btn btn-secondary' %>
<%= link_to 'Log Out', destroy_account_session_path, method: :delete, class:'btn btn-danger' %>
